.dashboard {
  background-color: #f1f3f6;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__logo {
    padding: 20px;
    margin-bottom: 50px;
  }

  .custom-menu {
    .ant-menu-item:hover
     {
      background-color: #45c3d2 !important;
    }
    .ant-menu-item-selected {
      background-color: #45c3d2 !important;
    }
  }


  .dashboard-layout {
    display: flex;
    flex-direction: column;

    .main-content {
      flex-grow: 1;
    }
  }
}