.ant-tabs{
    height: 30%;
}
.ant-tabs-nav-list .ant-tabs-tab:hover{
    color: #45c3d2 ;
}

.ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn:hover {
  color: #45c3d2 !important; 
}

.ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #45c3d2 !important;
}