.forget-password {
  background-image: url("../../assets/images/Bg-login.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    width: 400px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    h2 {
      text-align: center;
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
}
