@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-input-affix-wrapper:hover {
  border-color: #45c3d2;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-select-single:not(.ant-select-customize-input) .ant-select-selector:hover{
  border-color: #45c3d2;
}
:where(.css-dev-only-do-not-override-qgg3xn).ant-picker:hover {
  border-color: #45c3d2;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-input:hover{
  border-color: #45c3d2
}

.ant-btn {
  background-color: #45c3d2;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #45c3d2;
  opacity: 0.8;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-btn-default {
  background-color: white;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #45c3d2;
  border-color: #45c3d2
}

/* Trong CSS của component hoặc tệp CSS chung */
.ant-modal {
  z-index: 1000; /* Chọn một giá trị đủ lớn để đặt modal thứ nhất lên trên */
}

.ant-modal + .ant-modal {
  z-index: 1001; /* Một giá trị lớn hơn để đặt modal thứ hai lên trên modal thứ nhất */
}