.service-detail{
    background-color: white;
    padding: 50px;
    height: 100%;
    
    .service-back{
        display: flex;
        align-items: center;
        height: 8%;
        background-color: #45c3d2;
        border-radius: 5px;
    }
    .service-title{
        padding: 30px 15px;
        border: 1px solid black;
        border-radius: 5px;
    }
    
}